* {
    padding: 0px;
    margin: 0px;
}
:root {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    height: 80px;
    opacity: 1;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: white;
}
html {
    scroll-behavior: smooth;
}
a {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: grey;
    padding: 10px;
    }

header button {
    border: none;
    font-size: 15px;
    font-weight: bold;
    color: fuchsia;
    background-color: none;
}
#section1 {
    height: 300px;
    width: 100%;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
}
.child {
    width: 50%;
    padding: 20px;
}
.parent {
    background-image: url(./assets/graphic1.png);
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
}

.child h3 {
    font-size: 1em;
    color: rgb(179, 69, 128);
    padding-bottom: 10px;
}

.child h1 {
    font-size: 2 em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-bottom: 20px;
}
.child p {
    font-size: 1,5em;
    color: grey;
    padding-bottom: 20px;
}
#section1 button {
    background-color: white;
    color: black;
    padding: 14px 20px;
    border-color:  rgb(255, 129, 57);
    border-radius: 40px;
    width: 60%;
    height: 50px;
    font-size: 1,5 em;
    place-self: center;
}
#section2 {
    background-image: url(./assets/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100%; */
    height: 200px;
    margin: 20px 0;
    padding-left: 20px;
    padding-right: 20px;
}
#section2 h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    padding-top: 70px;
}
#section2 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
#section3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    justify-items: center;
    padding: 20px 20px;
    margin: 10px;
}
.com {
    grid-auto-rows: 50px;
    grid-auto-columns: 100px;
    width: 40%;
}

.com img {
    width: 100%;
}

#section4 {
    height: 100px;
    margin: 20px 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
#section4 h1,
#section4 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    padding-bottom: 10px;
}
#section4 a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    font-size: 1em;
    padding-bottom: 10px;
}
#section5 {
    display: flex;
    width: 100%;
    column-gap: 10px;
}
.ntf{
    width: 100%;
    border-radius: 5%;
}
.description {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background-color: rgb(183, 178, 178);
}
.description img {
    width: auto;
}
#section6 {
    height: 500px;
    width: 100%;
    align-items: top;
    padding: 20px;
    margin-bottom: 10px;
}
.child6 {
    width: 50%;
    padding: 20px;
}
.parent6 {
    background-image: url(./assets/upsell-footer-image.svg);
    background-repeat: no-repeat;
    /* position: absolute; */
    background-position: top right;
    height: 100%;
    width: 100%;
}
.child6 h3 {
    font-size: 1em;
    color: rgb(179, 69, 128);
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
}
.child6 h1 {
    font-size: 2 em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-bottom: 20px;
}
.child6 p {
    font-size: 1,5em;
    color: grey;
    padding-bottom: 20px;
}
#section6 button {
    background-color: white;
    color: black;
    padding: 14px 20px;
    border-color:  rgb(255, 129, 57);
    border-radius: 40px;
    width: 60%;
    height: 50px;
    font-size: 1,5 em;
    place-self: center;
}
footer {
    padding: 20px;
}
footer div {
    padding-bottom: 20px;
}
#grid {
    display: grid;
    grid-template-columns: repeat(2, 1 fr);
    align-items: center;
}
.final {
    grid-auto-rows: 50px;
    grid-auto-columns: 100px;
    width: 40%;
}

@media screen and (min-width: 600px) {

    #section3 {
    display: flex;
    width: 90%;
    height: 100px;
    }

    footer > grid {
        grid-template-columns: repeat(4 1fr);

    }
}